@import "base.css";

.editForm {
  font-family: 'Open Sans Condensed', arial, sans;
  border-radius: 15px;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

main input{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

h1 {
    font-weight: bold;
}


.patch{
margin-left: 90%;
}

.editButtons {
  appearance: none;
  background-color: #505f8b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.editButtons:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.editButtons:hover {
  background-color: #505f8b;
}

.editButtons:focus {
  box-shadow: #687bb4 0 0 0 3px;
  outline: none;
}

.editButtons:disabled {
  background-color: #505f8b;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.editButtons:active {
  background-color: #505f8b;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}