@import "base.css";

.center{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding-left: 5%;
}

.header{
  align-content: center;
  align-self: center;
  font-weight: bold;
  font-size: 500%;
  color: #f1f1f1;
}



.nationalities{
  display: none;
}

  
canvas {
  background-color: #31343c39;
  opacity: revert;
  border-radius: 50px;
}


.chart {
  border-radius: 50px;
  display: none;
  background-color: #31343c;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.search {
  padding-left: 10%;
  align-content: center;
  align-self: center;
  border-radius: 5px;
}

.name {
  width: 250px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f2f2f2;
}

.search-button {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  background-color: #4572a0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #4572a0c2;
}

img{
  border-radius: 10px;
}

.image {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}


.results {
  display: none;
  position: fixed;
  margin: 4%;
  left: 0;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.resultsData {
  display: block;
  padding: 4px;
  display: block;
  margin-bottom: 10px;
}

.resultsButtons {
  appearance: none;
  background-color: #505f8b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 10px;
}

.resultsButtons:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.resultsButtons:hover {
  background-color: #505f8b;
}

.resultsButtons:focus {
  box-shadow: #687bb4 0 0 0 3px;
  outline: none;
}

.resultsButtons:disabled {
  background-color: #505f8b;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.resultsButtons:active {
  background-color: #505f8b;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.alert{
  display: none;
  width:30%;
  margin:6px auto;
  padding:24px;
  position:relative;
  border-radius:25px;
  box-shadow:0 0 15px 4px #ccc;
  box-sizing:border-box;
}
.close{
  position:absolute;
  width:30px;
  height:30px;
  opacity:0.5;
  border-width:1px;
  border-style:solid;
  border-radius:50%;
  right:15px;
  top:25px;
  text-align:center;
  font-size:1.6em;
  cursor:pointer;
}

